Repository conifercone/mumu, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, source

.github/labeler.yml:

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: [ '^feature', 'feature' ]

# Add 'bug' label to any PR where the head branch name starts with `hotfix` or has a `hotfix` section in the name
bug:
  - head-branch: [ '^hotfix', 'hotfix' ]

# Add 'dependencies' label to any change to libs.versions.toml files within the entire repository
dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/libs.versions.toml'

# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: '**/src/**/*'

feat(mumu): 开始2.4.0版本开发
  gradle.properties
Labels: none

feat(mumu): 新增阿里云maven仓库
  build.gradle.kts
Labels: none

feat(mumu): 角色新增血缘关系
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/RoleController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/role/executor/RoleAddAncestorCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/role/executor/RoleDeletePathCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/role/executor/RoleFindByIdCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/role/executor/RoleFindDirectCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/role/executor/RoleFindRootCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/RoleServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/RoleService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleAddAncestorCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleFindDirectCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleFindRootCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleArchivedFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleArchivedFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindByIdCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindDirectCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindRootCo.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/role/Role.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/role/gateway/RoleGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathsDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathsDoId.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathsRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.0__add_role_paths_table.sql
Labels: source

feat(mumu): 新增根据ID查询角色grpc接口
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/RoleServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/RoleGrpcService.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/RoleService.proto
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleMapper.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/RoleGrpcServiceTest.java
Labels: source

refactor(authentication): 优化token权限范围
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
Labels: source

refactor(git-hook): 优化pre-commit脚本
  scripts/git/hooks/pre-commit
Labels: none

refactor(gradle): gradle升级至8.11.1
  gradle/wrapper/gradle-wrapper.properties
Labels: none

refactor(authentication): 优化鉴权配置
  mumu-basis/src/main/java/baby/mumu/basis/grpc/resolvers/DiscoveryClientNameResolver.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/DefaultSecurityConfig.java
Labels: source

refactor(grpc): 优化接口参数类型
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AccountGrpcService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/PermissionGrpcService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/RoleGrpcService.java
  mumu-services/mumu-file/file-client/src/main/java/baby/mumu/file/client/api/StreamFileGrpcService.java
  mumu-services/mumu-mail/mail-client/src/main/java/baby/mumu/mail/client/api/TemplateMailGrpcService.java
Labels: source

refactor(mumu): 关闭consul watch功能 & springboot升级至3.3.6
  gradle/libs.versions.toml
  mumu-services/mumu-authentication/src/main/resources/application.yml
  mumu-services/mumu-file/src/main/resources/application.yml
  mumu-services/mumu-log/src/main/resources/application.yml
  mumu-services/mumu-mail/src/main/resources/application.yml
  mumu-services/mumu-message/src/main/resources/application.yml
  mumu-services/mumu-sms/src/main/resources/application.yml
  mumu-services/mumu-unique/src/main/resources/application.yml
Labels: dependencies, source

revert(mumu): 回滚修改
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/DefaultSecurityConfig.java
Labels: source

fix(authentication): 修复授权码模式不可用
  .github/workflows/checkstyle.yml
  .github/workflows/pmd.yml
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/MuMuAuthenticationEntryPoint.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/ResourceServerProperties.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/DefaultSecurityConfig.java
  scripts/git/hooks/pre-commit
Labels: source

refactor(authentication): 重新梳理token缓存和校验逻辑
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/TokenGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/database/Oauth2AuthenticationRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/database/dataobject/Oauth2AuthorizationDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/AuthorizeCodeTokenRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/PasswordTokenRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/dataobject/AuthorizeCodeTokenRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/dataobject/PasswordTokenRedisDo.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuAuthenticationFailureHandler.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuJwtGenerator.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuOAuth2RefreshTokenGenerator.java
Labels: source

refactor(git): 优化pre-commit脚本
  scripts/git/hooks/pre-commit
Labels: none

docs(authentication): 完善注释
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/database/Oauth2AuthenticationRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/database/dataobject/Oauth2AuthorizationDo.java
Labels: source

refactor(authentication): 修改TokenGatewayImpl#validity方法验证逻辑
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/TokenGatewayImpl.java
Labels: source

refactor(grpc): 删除多余的异常封装
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountServiceImpl.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/PermissionServiceImpl.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/RoleServiceImpl.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/TokenServiceImpl.java
  mumu-services/mumu-file/file-application/src/main/java/baby/mumu/file/application/service/StreamFileServiceImpl.java
  mumu-services/mumu-log/log-application/src/main/java/baby/mumu/log/application/service/OperationLogServiceImpl.java
  mumu-services/mumu-log/log-application/src/main/java/baby/mumu/log/application/service/SystemLogServiceImpl.java
  mumu-services/mumu-mail/mail-application/src/main/java/baby/mumu/mail/application/service/TemplateMailServiceImpl.java
  mumu-services/mumu-unique/unique-application/src/main/java/baby/mumu/unique/application/service/CaptchaServiceImpl.java
Labels: source

refactor(mumu): 升级spring版本至2024.0.0-RC1
  gradle/libs.versions.toml
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/build.gradle.kts
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
Labels: dependencies, source

refactor(mumu): 删除多余注解
  mumu-services/mumu-message/message-application/src/main/java/baby/mumu/message/application/service/BroadcastTextMessageServiceImpl.java
  mumu-services/mumu-message/message-application/src/main/java/baby/mumu/message/application/service/SubscriptionTextMessageServiceImpl.java
  mumu-services/mumu-unique/unique-application/src/main/java/baby/mumu/unique/application/service/BarCodeServiceImpl.java
  mumu-services/mumu-unique/unique-application/src/main/java/baby/mumu/unique/application/service/CountryServiceImpl.java
  mumu-services/mumu-unique/unique-application/src/main/java/baby/mumu/unique/application/service/QRCodeServiceImpl.java
Labels: source

feat(authentication): 新增自定义AccessDeniedHandler
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/MuMuAccessDeniedHandler.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuAuthenticationFailureHandler.java
Labels: source

refactor(gradle): 暂时关闭gradle build cache功能
  gradle.properties
Labels: none

refactor(git): 优化pre-commit脚本
  scripts/git/hooks/pre-commit
Labels: none

refactor(gradle): 优化gradle build cache配置
  .gitignore
  gradle.properties
  settings.gradle.kts
Labels: none

refactor(authentication): 降低方法复杂度
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/PasswordGrantAuthenticationProvider.java
Labels: source

refactor(shell): check_env_var脚本提示语言修改为英文
  check_env_var.sh
Labels: none

feat(authentication): 权限角色新增description字段
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionAddCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionArchivedFindAllCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionArchivedFindAllSliceCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionFindAllCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionFindAllSliceCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionUpdateCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleAddCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleArchivedFindAllCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleArchivedFindAllSliceCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleFindAllCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleFindAllSliceCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleUpdateCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountCurrentLoginCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionArchivedFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionArchivedFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindByIdCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindDirectCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindRootCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleArchivedFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleArchivedFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindByIdCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindDirectCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindRootCo.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/Permission.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/role/Role.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/dataobject/PermissionArchivedDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/dataobject/PermissionDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/dataobject/RoleArchivedDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/dataobject/RoleDo.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.1__add_column_for_permissions_roles_table.sql
Labels: source

feat(authentication): 数据库字段添加注释
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.2__add_comment.sql
Labels: source

feat(authentication): 合理压制警告
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.0__db_init.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.1__add_comment_authorities.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.2__add_columns_for_users.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.3__add_email_for_users.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.4__add_time_zone_for_users.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.5__rename_users_time_zone.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.6__add_language_for_users.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.7__set_column_not_null_and_add_default_value_for_authorities.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.8__set_column_not_null_and_add_default_value_for_roles.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.0.9__set_column_not_null_and_add_default_value_for_users.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.1.0__set_code_unique_for_authorities.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.1.1__set_email_unique_for_users.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.1.8__add_archive_tables.sql
Labels: source

refactor(config): 优化consul配置
  mumu-services/mumu-authentication/src/main/resources/application.yml
  mumu-services/mumu-file/src/main/resources/application.yml
  mumu-services/mumu-log/src/main/resources/application.yml
  mumu-services/mumu-mail/src/main/resources/application.yml
  mumu-services/mumu-message/src/main/resources/application.yml
  mumu-services/mumu-sms/src/main/resources/application.yml
  mumu-services/mumu-unique/src/main/resources/application.yml
Labels: source

docs(extension): 增加方法注释
  mumu-extension/src/main/java/baby/mumu/extension/sql/DatasourceConfiguration.java
Labels: source

Update settings.gradle.kts
  settings.gradle.kts
Labels: none

refactor(processor): 抽离变量
  mumu-processor/src/main/java/baby/mumu/processor/metamodel/MetamodelGenerator.java
Labels: source

refactor(authentication): 利用文本块优化字符串
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/PermissionPathsRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathsRepository.java
Labels: source

refactor(authentication): 利用文本块优化字符串
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/AccountRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionArchivedRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/RoleArchivedRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/RoleRepository.java
Labels: source

refactor(authentication): 格式化代码
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/AccountRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionArchivedRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/RoleArchivedRepository.java
Labels: source

refactor(mumu): kotlin版本升级至2.1.0
  gradle/libs.versions.toml
Labels: dependencies

refactor(authentication): 重命名方法参数
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/PermissionPathsRepository.java
Labels: source

refactor(gradle): 修改lombok插件版本引用方式
  gradle/libs.versions.toml
Labels: dependencies

refactor(authentication): 精简claim中自定义key名称
  mumu-basis/src/main/java/baby/mumu/basis/enums/TokenClaimsEnum.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SecurityContextUtil.kt
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JwtAuthenticationTokenFilter.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/TokenGatewayImpl.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuJwtGenerator.java
Labels: source

refactor(basis): 删除无用注解
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SecurityContextUtil.kt
Labels: source
