Repository conifercone/mumu, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, source

.github/labeler.yml:

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: [ '^feature', 'feature' ]

# Add 'bug' label to any PR where the head branch name starts with `hotfix` or has a `hotfix` section in the name
bug:
  - head-branch: [ '^hotfix', 'hotfix' ]

# Add 'dependencies' label to any change to libs.versions.toml files within the entire repository
dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/libs.versions.toml'

# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: '**/src/**/*'

docs(docs): 新增文档
  COMMIT_MESSAGE_TEMPLATE.md
  docs/COMMIT_MESSAGE_TEMPLATE.ja.md
  docs/COMMIT_MESSAGE_TEMPLATE.ko.md
  docs/COMMIT_MESSAGE_TEMPLATE.zh_CN.md
  docs/COMMIT_MESSAGE_TEMPLATE.zh_TW.md
Labels: documentation

refactor(authentication): 修改性别字段名称
  apis/Account.http
  mumu-basis/src/main/java/baby/mumu/basis/enums/GenderEnum.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountRegisterCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountUpdateByIdCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountBasicInfoDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllSliceDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/AccountService.proto
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountArchivedPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.4.0__alert_columns_for_users_table.sql
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/adapter/web/AccountControllerTest.java
Labels: source

style(GenderEnum): 删除多余空格
  mumu-basis/src/main/java/baby/mumu/basis/enums/GenderEnum.java
Labels: source

style(GenderEnum): 修改版本号
  mumu-basis/src/main/java/baby/mumu/basis/enums/GenderEnum.java
Labels: source

refactor(authentication): 修改users表字段的默认值
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountPO.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.4.1__alert_columns_for_users_table.sql
Labels: source

refactor(mumu): 优化属性类型节省内存占用
  mumu-basis/src/main/java/baby/mumu/basis/dto/BaseDataTransferObject.java
  mumu-extension/src/main/java/baby/mumu/extension/distributed/lock/zookeeper/ZookeeperProperties.java
  mumu-extension/src/main/java/baby/mumu/extension/fd/opencv/OpencvProperties.java
  mumu-extension/src/main/java/baby/mumu/extension/idempotent/request/id/redis/RedisRequestIdIdempotentProcessor.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountBasicInfoDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllSliceDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountArchivedPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-file/file-infrastructure/src/main/java/baby/mumu/file/infrastructure/streamfile/gatewayimpl/StreamFileGatewayImpl.java
Labels: source

refactor(mumu): 优化属性类型节省内存占用
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/CaptchaVerify.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/AccountService.proto
  mumu-services/mumu-authentication/authentication-client/src/main/proto/PermissionService.proto
  mumu-services/mumu-authentication/authentication-client/src/main/proto/RoleService.proto
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/adapter/web/AccountControllerTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/PermissionGrpcServiceTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/RoleGrpcServiceTest.java
  mumu-services/mumu-file/file-application/src/main/java/baby/mumu/file/application/service/StreamFileServiceImpl.java
  mumu-services/mumu-file/file-client/src/main/proto/StreamFileService.proto
  mumu-services/mumu-file/src/test/java/baby/mumu/file/client/grpc/StreamFileGrpcServiceTest.java
  mumu-services/mumu-mail/mail-application/src/main/java/baby/mumu/mail/application/service/TemplateMailServiceImpl.java
  mumu-services/mumu-mail/mail-client/src/main/proto/TemplateMailService.proto
  mumu-services/mumu-mail/mail-infrastructure/src/main/java/baby/mumu/mail/infrastructure/template/gatewayimpl/TemplateMailGatewayImpl.java
  mumu-services/mumu-mail/src/test/java/baby/mumu/mail/client/grpc/TemplateMailGrpcServiceTest.java
  mumu-services/mumu-unique/src/test/java/baby/mumu/unique/client/grpc/CaptchaGrpcServiceTest.java
  mumu-services/mumu-unique/unique-application/src/main/java/baby/mumu/unique/application/service/CaptchaServiceImpl.java
  mumu-services/mumu-unique/unique-client/src/main/proto/CaptchaService.proto
Labels: source

feat(authentication): 账户新增手机号已验证、邮箱已验证属性字段
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountBasicInfoDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllSliceDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/AccountService.proto
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountArchivedPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.4.2__add_columns_for_users_table.sql
Labels: source

chore(git): 新增.mailmap文件
  .mailmap
Labels: none

build(gradle): 解决编译警告
  gradle/libs.versions.toml
  mumu-services/mumu-authentication/authentication-application/build.gradle.kts
  mumu-services/mumu-log/log-application/build.gradle.kts
Labels: dependencies

build(dependencies): springboot升级至3.4.3
  gradle/libs.versions.toml
Labels: dependencies

refactor(basis): 优化时间工具类
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/TimeUtils.kt
  mumu-basis/src/test/java/baby/mumu/basis/tools/TimeUtilsTest.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

refactor(basis): 优化时间工具类
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/TimeUtils.kt
Labels: source

refactor(basis): 优化时间工具类
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/TimeUtils.kt
Labels: source

refactor(unique): 优化接口定义
  apis/Unique.http
  mumu-services/mumu-unique/unique-adapter/src/main/java/baby/mumu/unique/adapter/web/TimezoneController.java
Labels: source

feat(basis): 新增错误码
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-extension/src/main/java/baby/mumu/extension/processor/response/ResponseBodyProcessor.java
Labels: source

refactor(unique): 优化时间接口
  apis/Unique.http
  mumu-services/mumu-unique/unique-adapter/src/main/java/baby/mumu/unique/adapter/web/TimeController.java
Labels: source

feat(mumu): 2.7.0版本发布
  CHANGELOG.md
  docs/CHANGELOG.zh_CN.md
  gradle.properties
Labels: documentation

feat(mumu): 开始2.8.0版本发布
  gradle.properties
Labels: none

chore(gradle): 增加模块描述
  mumu-basis/build.gradle.kts
  mumu-extension/build.gradle.kts
  mumu-processor/build.gradle.kts
  mumu-services/build.gradle.kts
  mumu-services/mumu-authentication/build.gradle.kts
  mumu-services/mumu-file/build.gradle.kts
  mumu-services/mumu-log/build.gradle.kts
  mumu-services/mumu-mail/build.gradle.kts
  mumu-services/mumu-message/build.gradle.kts
  mumu-services/mumu-sms/build.gradle.kts
  mumu-services/mumu-unique/build.gradle.kts
Labels: none

chore(apis): 更新数据
  apis/Account.http
  apis/http-client.env.json
Labels: none

build(dependence): jakarta.persistence-api升级至3.2.0
  gradle/libs.versions.toml
Labels: dependencies

build(dependence): 依赖降级
  gradle/libs.versions.toml
Labels: dependencies

build(gradle): gradle版本升级至8.13
  gradle/wrapper/gradle-wrapper.properties
Labels: none

docs(extension): 增加属性注释
  mumu-extension/src/main/java/baby/mumu/extension/ocr/tess4j/Tess4jProperties.java
Labels: source

docs(extension): 增加属性注释
  mumu-extension/src/main/java/baby/mumu/extension/ocr/aliyun/AliyunOcrProperties.java
Labels: source

feat(mumu): 添加字典文件
  .idea/dictionaries/kaiyu.xml
Labels: none

feat(mumu): 删除字典文件
  .idea/dictionaries/kaiyu.xml
Labels: none

refactor(mumu): 规范变量名称格式
  build.gradle.kts
  mumu-services/mumu-authentication/src/main/resources/application.yml
  mumu-services/mumu-file/src/main/resources/application.yml
  mumu-services/mumu-log/src/main/resources/application.yml
  mumu-services/mumu-mail/src/main/resources/application.yml
  mumu-services/mumu-message/src/main/resources/application.yml
  mumu-services/mumu-sms/src/main/resources/application.yml
  mumu-services/mumu-unique/src/main/resources/application.yml
  scripts/check_env_var.sh
Labels: source

refactor(mumu): jdk升级至23
  .github/workflows/checkstyle.yml
  .github/workflows/dependency-submission.yml
  .github/workflows/pmd.yml
  README.md
  build.gradle.kts
  docs/README.ja.md
  docs/README.ko.md
  docs/README.zh_CN.md
  docs/README.zh_TW.md
Labels: documentation

refactor(mumu): 修改项目配置
  .idea/codeStyles/Project.xml
Labels: none

feat(mumu): 新增sdkman配置文件
  .sdkmanrc
Labels: none

feat(mumu): 2.8.0版本发布
  CHANGELOG.md
  docs/CHANGELOG.zh_CN.md
  gradle.properties
Labels: documentation

feat(mumu): 开始2.9.0版本发布
  gradle.properties
Labels: none

refactor(run): 删除使用频率低的运行文件
  .run/Install Git Hooks.run.xml
Labels: none

docs(README): 更新自述文档
  README.md
  docs/README.ja.md
  docs/README.ko.md
  docs/README.zh_CN.md
  docs/README.zh_TW.md
Labels: documentation

refactor(mumu): 精简变量命名
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SignatureUtils.kt
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SpringContextUtils.kt
  mumu-extension/src/main/java/baby/mumu/extension/aspects/ConditionalAspect.java
  mumu-extension/src/main/java/baby/mumu/extension/aspects/DangerousOperationAspect.java
  mumu-extension/src/main/java/baby/mumu/extension/filters/SignatureFilter.java
  mumu-extension/src/main/java/baby/mumu/extension/idempotent/request/id/RequestIdFilter.java
  mumu-extension/src/main/java/baby/mumu/extension/listener/MuMuApplicationStartupListener.java
  mumu-extension/src/main/java/baby/mumu/extension/processor/grpc/GrpcExceptionAdvice.java
  mumu-extension/src/main/java/baby/mumu/extension/processor/response/ResponseBodyProcessor.java
  mumu-extension/src/main/java/baby/mumu/extension/sql/filter/datasource/P6spyDataSourceFilter.java
  mumu-extension/src/main/java/baby/mumu/extension/sql/filter/datasource/p6spy/P6spyCustomLogger.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JwtAuthenticationTokenFilter.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/MuMuJwtGrantedAuthoritiesConverter.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/ProjectInformationPrint.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuAuthenticationFailureHandler.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/AccountGrpcServiceTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/PermissionGrpcServiceTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/RoleGrpcServiceTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/util/SecurityContextUtilsTest.java
  mumu-services/mumu-file/file-client/src/main/java/baby/mumu/file/client/config/ProjectInformationPrint.java
  mumu-services/mumu-file/src/test/java/baby/mumu/file/client/grpc/StreamFileGrpcServiceTest.java
  mumu-services/mumu-log/log-client/src/main/java/baby/mumu/log/client/config/ProjectInformationPrint.java
  mumu-services/mumu-mail/mail-client/src/main/java/baby/mumu/mail/client/config/ProjectInformationPrint.java
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/config/ProjectInformationPrint.java
  mumu-services/mumu-message/src/main/java/baby/mumu/message/configuration/NettyConfiguration.java
  mumu-services/mumu-unique/src/test/java/baby/mumu/unique/client/grpc/CaptchaGrpcServiceTest.java
  mumu-services/mumu-unique/src/test/java/baby/mumu/unique/client/grpc/PrimaryKeyGrpcServiceTest.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/config/ProjectInformationPrint.java
Labels: source

refactor(mumu): 更换jdk版本
  .sdkmanrc
Labels: none

docs(docs): adoc替换md
  README.adoc
  README.md
  docs/README.ja.adoc
  docs/README.ja.md
  docs/README.ko.adoc
  docs/README.ko.md
  docs/README.zh_CN.adoc
  docs/README.zh_CN.md
  docs/README.zh_TW.adoc
  docs/README.zh_TW.md
Labels: documentation

docs(docs): adoc替换md
  SECURITY.adoc
  SECURITY.md
  docs/SECURITY.zh_CN.adoc
  docs/SECURITY.zh_CN.md
Labels: documentation
