Repository conifercone/mumu, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, source

feat(authentication): 系统设置增加缓存
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/AccountSystemSettings.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
Labels: source

refactor(mumu): 精简方法实现逻辑
  mumu-basis/src/main/java/baby/mumu/basis/mappers/GeoGrpcMapper.java
  mumu-basis/src/main/java/baby/mumu/basis/mappers/GeoMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
Labels: source

refactor(mumu): 优化多语言标识设置逻辑
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JwtAuthenticationTokenFilter.java
Labels: source

refactor(mumu): 添加参数校验注解
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/TokenServiceImpl.java
Labels: source

test(basis): 新增单元测试
  mumu-basis/src/test/java/baby/mumu/basis/tools/ToolsTest.java
Labels: source

refactor(mumu): 时间格式调整
  build.gradle.kts
  mumu-extension/src/main/resources/spy.properties
  mumu-services/build.gradle.kts
Labels: source

refactor(mumu): 精简代码
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
Labels: source

refactor(authentication): 存在余额的账户不允许删除或者归档
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
Labels: source

refactor(authentication): 移除规则引擎
  gradle/libs.versions.toml
  mumu-basis/src/main/java/baby/mumu/basis/enums/DigitalPreferenceEnum.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JwtAuthenticationTokenFilter.java
  mumu-services/mumu-authentication/authentication-infrastructure/build.gradle.kts
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/units/AccountDigitalPreferenceUnit.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/resources/baby/mumu/authentication/infrastructure/account/units/AccountDigitalPreferenceRules.drl
Labels: dependencies, source

refactor(authentication): 优化已归档属性类型
  mumu-basis/src/main/java/baby/mumu/basis/domain/BasisDomainModel.java
  mumu-basis/src/main/java/baby/mumu/basis/dto/BaseDataTransferObject.java
  mumu-basis/src/main/java/baby/mumu/basis/po/ArchivablePersistentObject.java
  mumu-basis/src/main/java/baby/mumu/basis/po/jpa/JpaBasisArchivablePersistentObject.java
  mumu-basis/src/main/java/baby/mumu/basis/po/jpa/JpaMongodbBasisArchivablePersistentObject.java
  mumu-basis/src/main/java/baby/mumu/basis/po/jpa/JpaRedisBasisArchivablePersistentObject.java
Labels: source

refactor(basis): 优化线程变量定义
  mumu-basis/src/main/java/baby/mumu/basis/filters/TraceIdFilter.java
Labels: source

refactor(authentication): 权限查询新增描述信息匹配条件
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionRepository.java
Labels: source

refactor(authentication): 角色查询新增描述信息匹配条件
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/RoleRepository.java
Labels: source

refactor(authentication): 归档角色、权限查询新增描述信息匹配条件
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionArchivedRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/RoleArchivedRepository.java
Labels: source

refactor(authentication): 调整角色权限保存时机
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
Labels: source

refactor(basis): 删除多余异常捕获
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SpringContextUtil.kt
Labels: source

docs(basis): 调整注释
  mumu-basis/src/main/java/baby/mumu/basis/po/package-info.java
Labels: source

refactor(authentication): 精简代码
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
Labels: source

feat(basis): 新增json数据下载通用方法
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/java/baby/mumu/basis/tools/FileDownloadUtil.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/FileDownloadUtil.kt
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
Labels: source

feat(authentication): 新增下载所有包含权限路径的权限数据
  apis/Permission.http
  mumu-basis/src/main/java/baby/mumu/basis/dto/BaseDataTransferObject.java
  mumu-basis/src/main/java/baby/mumu/basis/tools/FileDownloadUtil.java
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/PermissionController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionIncludePathDownloadAllCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/PermissionServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/PermissionService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionIncludePathDownloadAllDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/gateway/PermissionGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
Labels: source

refactor(basis): 优化文件下载工具类
  mumu-basis/src/main/java/baby/mumu/basis/tools/FileDownloadUtil.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/FileDownloadUtil.kt
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionDownloadAllCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionIncludePathDownloadAllCmdExe.java
Labels: source

fix(extension): 修复签名过滤器中文乱码问题
  apis/utils.js
  mumu-extension/src/main/java/baby/mumu/extension/filters/SignatureFilter.java
Labels: source

refactor(basis): 优化工具类实现
  mumu-basis/src/main/java/baby/mumu/basis/exception/MuMuException.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/CommonUtil.kt
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/FileDownloadUtil.kt
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SignatureUtil.kt
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SpringContextUtil.kt
  mumu-extension/src/main/java/baby/mumu/extension/processor/response/ResponseBodyProcessor.java
Labels: source

feat(authentication): 新增swagger转换器
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SecurityContextUtil.kt
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MonetaryAmountConverter.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/SwaggerConfiguration.java
Labels: source

refactor(basis): 修改code属性类型为基本数据类型
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
Labels: source

refactor(basis): ResponseCode新增status属性
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-extension/src/main/java/baby/mumu/extension/idempotent/request/id/RequestIdFilter.java
  mumu-extension/src/main/java/baby/mumu/extension/processor/response/ResponseBodyProcessor.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JwtAuthenticationTokenFilter.java
Labels: source

build(dependencies): redis-om-spring降级至0.9.7
  gradle/libs.versions.toml
Labels: dependencies

refactor(basis): 优化代码
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SecurityContextUtil.kt
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SignatureUtil.kt
Labels: source

docs(basis): 新增方法注释
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/CommonUtil.kt
Labels: source

refactor(authentication): 优化权限配置属性
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/GrpcSecurityConfiguration.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/ResourcePoliciesProperties.java
Labels: source

refactor(authentication): 格式化代码
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
Labels: source

refactor(authentication): 出于安全考虑默认接口权限设置为不允许任何人访问
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/GrpcSecurityConfiguration.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
Labels: source

refactor(authentication): 重构代码
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

refactor(extension): RateLimitingCustomGenerateProvider增加bean创建条件
  mumu-extension/src/main/java/baby/mumu/extension/aspects/AspectConfiguration.java
Labels: source

feat(basis): 新增响应编码
  mumu-basis/src/main/java/baby/mumu/basis/provider/RateLimitingAccountIdKeyProviderImpl.java
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
Labels: source

refactor(gradle): 版本升级至8.12.1
  gradle/wrapper/gradle-wrapper.properties
Labels: none

feat(mumu): 2.6.0版本发布
  CHANGELOG.md
  docs/CHANGELOG.zh_CN.md
  gradle.properties
Labels: documentation

feat(mumu): 开始2.7.0版本发布
  gradle.properties
Labels: none

feat(mumu): 更换图标
  .idea/icon.svg
  logo.svg
Labels: none

feat(mumu): 更新配置
  .editorconfig
Labels: none

.github/labeler.yml:

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: [ '^feature', 'feature' ]

# Add 'bug' label to any PR where the head branch name starts with `hotfix` or has a `hotfix` section in the name
bug:
  - head-branch: [ '^hotfix', 'hotfix' ]

# Add 'dependencies' label to any change to libs.versions.toml files within the entire repository
dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/libs.versions.toml'

# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: '**/src/**/*'
