Repository conifercone/mumu, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, source

feat(mumu): 2.4.0版本发布
  CHANGELOG.md
  docs/CHANGELOG.zh_CN.md
  gradle.properties
Labels: documentation

feat(mumu): 开始2.5.0版本发布
  gradle.properties
Labels: none

refactor(authentication): 修改方法名
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionDownloadAllCmdExe.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/gateway/PermissionGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
Labels: source

docs(authentication): 增加方法注释
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/gateway/PermissionGateway.java
Labels: source

refactor(authentication): 简化代码
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
Labels: source

refactor(authentication): grant type重命名
  mumu-basis/src/main/java/baby/mumu/basis/enums/OAuth2Enum.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/AuthenticationRequired.java
  mumu-services/mumu-file/src/test/java/baby/mumu/file/AuthenticationRequired.java
  mumu-services/mumu-mail/src/test/java/baby/mumu/mail/AuthenticationRequired.java
Labels: source

refactor(authentication): 修改响应状态值引用
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuAuthenticationFailureHandler.java
Labels: source

feat(mumu): 新增api说明文件
  apis/Account.http
  apis/http-client.env.json
  apis/utils.js
  mumu-extension/src/main/java/baby/mumu/extension/filters/SignatureFilter.java
Labels: source

feat(mumu): 新增api说明文件
  apis/Account.http
Labels: none

feat(mumu): 新增api说明文件
  apis/Permission.http
  apis/Role.http
  apis/http-client.env.json
Labels: none

fix(authentication): 修复角色账户新增失败
  apis/utils.js
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
Labels: source

feat(mumu): 新增api说明文件
  apis/File.http
  apis/Log.http
  apis/Mail.http
  apis/Message.http
  apis/Unique.http
  apis/assets/verification_code.html
  apis/http-client.env.json
  mumu-services/mumu-log/log-adapter/src/main/java/baby/mumu/log/adapter/web/OperationLogController.java
Labels: source

refactor(gradle): gradle版本升级至8.12-rc-2
  gradle/wrapper/gradle-wrapper.properties
Labels: none

refactor(extension): 删除无用功能
  mumu-basis/src/main/java/baby/mumu/basis/constants/CommonConstants.java
  mumu-extension/src/main/java/baby/mumu/extension/sql/filter/datasource/p6spy/P6spyCustomLogger.java
Labels: source

refactor(extension): 优化sql日志打印拓展功能
  mumu-extension/src/main/java/baby/mumu/extension/sql/filter/datasource/p6spy/P6spyCustomLogger.java
Labels: source

feat(authentication): 新增根据code查询角色接口
  apis/Account.http
  apis/Role.http
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/RoleController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/role/executor/RoleFindByCodeCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/RoleServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/RoleService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleFindByCodeDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/role/gateway/RoleGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/RoleRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/redis/RoleRedisRepository.java
Labels: source

refactor(mumu): 删除无用功能
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
Labels: source

test(apis): 增加测试脚本
  apis/Account.http
  apis/File.http
  apis/Log.http
  apis/Mail.http
  apis/Message.http
  apis/Permission.http
  apis/Role.http
  apis/Unique.http
Labels: none

feat(apis): 新增授权码环境
  apis/http-client.env.json
Labels: none

refactor(apis): 修改key名
  apis/http-client.env.json
Labels: none

feat(apis): 新增apisix apis
  apis/Apisix.http
  apis/http-client.env.json
Labels: none

feat(authentication): 权限验证可以指定权限允许范围
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/GrpcSecurityConfiguration.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/ResourceServerProperties.java
Labels: source

refactor(authentication): 优化权限配置
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/GrpcSecurityConfiguration.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/ResourceServerProperties.java
Labels: source

refactor(authentication): 修改passwordEncoder bean实例名称和类型
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
Labels: source

feat(mumu): 自定义客户端逻辑 & 修改创建时间修改时间默认值
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/client/Client.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/client/gateway/ClientGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/client/convertor/ClientConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/client/convertor/ClientMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/client/gatewayimpl/ClientGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/client/gatewayimpl/database/ClientRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/client/gatewayimpl/database/dataobject/ClientDo.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/JpaRegisteredClientRepository.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.5__add_columns_for_oauth2_registered_client_table.sql
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.6__alert_columns_default_value_for_tables.sql
  mumu-services/mumu-message/src/main/resources/db/migration/postgresql/V1.1.4__alert_columns_default_value_for_tables.sql
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/config/SnowflakeIdentifierGenerator.java
Labels: source

refactor(apis): 删除无用文件
  apis/File.http
  apis/assets/test.txt
  apis/assets/verification_code.html
Labels: none

feat(authentication): 新增anyRole配置
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/GrpcSecurityConfiguration.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JWTSecurityConfig.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/ResourceServerProperties.java
Labels: source

docs(authentication): 增加方法注释
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/PermissionService.java
Labels: source

refactor(mumu): 变量名优化
  mumu-basis/src/main/java/baby/mumu/basis/po/jpa/JpaMongodbBasisArchivablePersistentObject.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/subscription/gatewayimpl/SubscriptionTextMessageGatewayImpl.java
Labels: source

refactor(gradle): gradle版本升级至8.12
  gradle/wrapper/gradle-wrapper.properties
Labels: none

refactor(mumu): 变量名优化
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/AccountRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/broadcast/gatewayimpl/BroadcastTextMessageGatewayImpl.java
Labels: source

refactor(mumu): 优化code style配置文件
  code_style.xml
Labels: none

refactor(mumu): 常量值优化
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/TokenGatewayImpl.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuJwtGenerator.java
Labels: source

refactor(mumu): 优化gradle配置
  gradle.properties
Labels: none

refactor(mumu): 变量重命名
  mumu-basis/src/main/java/baby/mumu/basis/mappers/ClientObjectMapper.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/CommonUtil.kt
Labels: source

refactor(captcha): 验证码校验不区分大小写
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/CaptchaGatewayImpl.java
Labels: source

refactor(captcha): 删除无用方法
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/CommonUtil.kt
  mumu-basis/src/test/java/baby/mumu/basis/tools/ToolsTest.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/cmds/SimpleCaptchaGeneratedCmd.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/CaptchaGatewayImpl.java
Labels: source

refactor(captcha): 重构验证码生成逻辑
  mumu-services/mumu-unique/unique-application/src/main/java/baby/mumu/unique/application/service/CaptchaServiceImpl.java
  mumu-services/mumu-unique/unique-client/src/main/proto/CaptchaService.proto
Labels: source

refactor(captcha): 类名规范性修改
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/convertor/CaptchaConvertor.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/convertor/CaptchaMapper.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/CaptchaGatewayImpl.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/redis/SimpleCaptchaRepository.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/redis/po/SimpleCaptchaPO.java
Labels: source

refactor(captcha): 验证码生成增加参数校验
  mumu-services/mumu-unique/unique-adapter/src/main/java/baby/mumu/unique/adapter/web/CaptchaController.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/cmds/SimpleCaptchaGeneratedCmd.java
Labels: source

.github/labeler.yml:

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: [ '^feature', 'feature' ]

# Add 'bug' label to any PR where the head branch name starts with `hotfix` or has a `hotfix` section in the name
bug:
  - head-branch: [ '^hotfix', 'hotfix' ]

# Add 'dependencies' label to any change to libs.versions.toml files within the entire repository
dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/libs.versions.toml'

# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: '**/src/**/*'
