Repository conifercone/mumu, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, source

feat(mumu): 新增配置文件
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

refactor(mumu): 删除多余配置文件
  code_style.xml
Labels: none

fix(authentication): 修复刷新token异常
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
Labels: source

refactor(authentication): 优化token端点错误处理逻辑
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseWrapper.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountUserDetailService.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuAuthenticationFailureHandler.java
Labels: source

refactor(authentication): 优化token端点错误处理逻辑
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuAuthenticationFailureHandler.java
Labels: source

refactor(authentication): 表名统一增加前缀防止重复
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountArchivedPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/po/PermissionArchivedPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/po/PermissionPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/AccountRolePO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/PermissionPathPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePermissionPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/po/RoleArchivedPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/po/RolePO.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.8__alert_table_name.sql
Labels: source

refactor(message): 表名统一增加前缀防止重复
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/broadcast/gatewayimpl/database/po/BroadcastTextMessageArchivedPO.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/broadcast/gatewayimpl/database/po/BroadcastTextMessagePO.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/relations/database/BroadcastTextMessageReceiverPO.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/subscription/gatewayimpl/database/po/SubscriptionTextMessageArchivedPO.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/subscription/gatewayimpl/database/po/SubscriptionTextMessagePO.java
  mumu-services/mumu-message/src/main/resources/db/migration/postgresql/V1.1.5__alert_table_name.sql
Labels: source

refactor(authentication): 集合名统一增加前缀防止重复
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountAddressMongodbPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountSystemSettingsMongodbPO.java
Labels: source

refactor(mumu): 存储名称统一增加前缀防止重复
  mumu-extension/src/main/java/baby/mumu/extension/idempotent/request/id/redis/RedisRequestIdIdempotentProcessor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/redis/po/PermissionRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/redis/AccountRoleRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/redis/RolePermissionRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/redis/po/RoleRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/AuthorizeCodeTokenRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/ClientTokenRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/OidcIdTokenRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/PasswordTokenRedisPO.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/config/LogProperties.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/redis/po/SimpleCaptchaPO.java
Labels: source

docs(log): 新增属性注释
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/config/LogProperties.java
Labels: source

refactor(mumu): 修改缓存key名
  mumu-extension/src/main/java/baby/mumu/extension/idempotent/request/id/redis/RedisRequestIdIdempotentProcessor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/redis/po/PermissionRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/redis/AccountRoleRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/redis/RolePermissionRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/redis/po/RoleRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/AuthorizeCodeTokenRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/ClientTokenRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/OidcIdTokenRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/po/PasswordTokenRedisPO.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/redis/po/SimpleCaptchaPO.java
Labels: source

refactor(mumu): 开启配置缓存
  build.gradle.kts
  gradle.properties
  mumu-processor/src/main/java/baby/mumu/processor/metamodel/MetamodelGenerator.java
Labels: source

refactor(mumu): 开启配置缓存
  build.gradle.kts
Labels: none

refactor(mumu): 优化代码
  mumu-extension/src/main/java/baby/mumu/extension/ExtensionConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MuMuAuthenticationFailureHandler.java
Labels: source

refactor(mumu): 优化pmd任务
  .github/workflows/pmd.yml
  pmd.sh
Labels: none

refactor(mumu): 优化注释
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/config/ProjectInformationPrint.java
Labels: source

refactor(mumu): 优化pmd任务
  .github/workflows/pmd.yml
Labels: none

refactor(mumu): 优化注释
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/config/ProjectInformationPrint.java
Labels: source

refactor(mumu): 优化pmd、checkstyle任务
  .github/workflows/checkstyle.yml
  .github/workflows/pmd.yml
  checkstyle.sh
Labels: none

refactor(mumu): 优化注释
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/config/ProjectInformationPrint.java
Labels: source

refactor(mumu): 统一脚本位置
  .github/workflows/checkstyle.yml
  .github/workflows/pmd.yml
  build.gradle.kts
  scripts/SOURCE_CODE_HEAD.txt
  scripts/check_env_var.sh
  scripts/check_serial_uid.sh
  scripts/checkstyle.sh
  scripts/git/hooks/pre-commit
  scripts/pmd.sh
  scripts/update_license.sh
  scripts/update_license_current_year.sh
Labels: none

refactor(mumu): 优化注释
  mumu-basis/src/main/java/baby/mumu/basis/annotations/RateLimiter.java
Labels: source

test(test): 新增单元测试
  mumu-basis/src/test/java/baby/mumu/basis/tools/ToolsTest.java
Labels: source

refactor(authentication): 账户注册密码增加正则校验
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountRegisterCmd.java
Labels: source

refactor(authentication): 修改初始密码以符合密码规则
  mumu-basis/src/test/java/baby/mumu/basis/tools/ToolsTest.java
  mumu-extension/src/main/java/baby/mumu/extension/authentication/AuthenticationProperties.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountChangePasswordCmd.java
Labels: source

refactor(authentication): 修改密码
  apis/Account.http
  apis/http-client.env.json
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/AuthenticationRequired.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/adapter/web/AccountControllerTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/AccountGrpcServiceTest.java
  mumu-services/mumu-file/src/test/java/baby/mumu/file/AuthenticationRequired.java
  mumu-services/mumu-mail/src/test/java/baby/mumu/mail/AuthenticationRequired.java
Labels: source

refactor(authentication): 抽离常量类
  mumu-basis/src/main/java/baby/mumu/basis/constants/RegexpConstants.java
  mumu-basis/src/test/java/baby/mumu/basis/tools/ToolsTest.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountRegisterCmd.java
Labels: source

feat(authentication): 账户新增国际电话区号
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountFindAllCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountFindAllSliceCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountRegisterCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountUpdateByIdCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountBasicInfoDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllSliceDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/AccountService.proto
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountArchivedPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/po/AccountPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.9__add_columns_for_users_table.sql
Labels: source

feat(authentication): 账户新增手机号有效性检验
  gradle/libs.versions.toml
  mumu-basis/build.gradle.kts
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/PhoneUtil.kt
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-services/mumu-authentication/authentication-infrastructure/build.gradle.kts
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
Labels: dependencies, source

test(basis): 新增单元测试
  mumu-basis/src/test/java/baby/mumu/basis/tools/PhoneUtilTest.java
Labels: source

refactor(basis): 移除无用代码
  gradle/libs.versions.toml
  mumu-basis/build.gradle.kts
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/EmailUtils.kt
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountUserDetailService.java
Labels: dependencies, source

test(basis): 新增单元测试
  mumu-basis/src/test/java/baby/mumu/basis/tools/EmailUtilsTest.java
Labels: source

refactor(scripts): 优化git commit-msg脚本
  commit_message_template.md
  scripts/git/hooks/commit-msg
Labels: documentation

feat(mumu): 添加idea编码配置
  .idea/encodings.xml
Labels: none

refactor(basis): 优化工具类说明
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SecurityContextUtils.kt
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/TimeUtils.kt
Labels: source

feat(authentication): 删除无用依赖
  mumu-services/mumu-authentication/authentication-infrastructure/build.gradle.kts
Labels: none

refactor(basis): 合并工具类
  mumu-basis/src/main/java/baby/mumu/basis/tools/FileDownloadUtils.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/FileDownloadUtils.kt
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionIncludePathDownloadAllCmdExe.java
Labels: source

refactor(basis): 优化ip工具类
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/IpUtils.kt
Labels: source

refactor(basis): 优化ip工具类
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/IpUtils.kt
Labels: source

refactor(mumu): 文档重命名
  COMMIT_MESSAGE_TEMPLATE.md
  scripts/git/hooks/commit-msg
Labels: documentation

.github/labeler.yml:

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: [ '^feature', 'feature' ]

# Add 'bug' label to any PR where the head branch name starts with `hotfix` or has a `hotfix` section in the name
bug:
  - head-branch: [ '^hotfix', 'hotfix' ]

# Add 'dependencies' label to any change to libs.versions.toml files within the entire repository
dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/libs.versions.toml'

# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: '**/src/**/*'
