Repository conifercone/mumu, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, source

refactor(mail): 替换已弃用代码
  mumu-services/mumu-mail/mail-infrastructure/src/main/java/baby/mumu/mail/infrastructure/template/gatewayimpl/TemplateMailGatewayImpl.java
Labels: source

refactor(mail): 优化配置属性获取方式
  mumu-services/mumu-mail/mail-application/src/main/java/baby/mumu/mail/application/service/TemplateMailServiceImpl.java
  mumu-services/mumu-mail/mail-application/src/main/java/baby/mumu/mail/application/template/executor/TemplateMailSendCmdExe.java
  mumu-services/mumu-mail/src/main/java/baby/mumu/mail/configuration/JavaMailConfiguration.java
Labels: source

refactor(authentication): 优化授权服务器配置
  apis/OAuth2.http
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
Labels: source

refactor(mumu): 优化bean配置
  mumu-basis/src/main/java/baby/mumu/basis/BasisConfiguration.java
  mumu-basis/src/main/java/baby/mumu/basis/spring/ApplicationProperties.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/MicrometerConfiguration.java
  mumu-services/mumu-file/src/main/java/baby/mumu/file/configuration/MicrometerConfiguration.java
  mumu-services/mumu-log/src/main/java/baby/mumu/log/configuration/MicrometerConfiguration.java
  mumu-services/mumu-mail/src/main/java/baby/mumu/mail/configuration/MicrometerConfiguration.java
  mumu-services/mumu-message/src/main/java/baby/mumu/message/configuration/MicrometerConfiguration.java
  mumu-services/mumu-sms/src/main/java/baby/mumu/sms/configuration/MicrometerConfiguration.java
  mumu-services/mumu-unique/src/main/java/baby/mumu/unique/configuration/MicrometerConfiguration.java
Labels: source

refactor(mumu): 类名规范性修改
  mumu-services/mumu-file/file-infrastructure/src/main/java/baby/mumu/file/infrastructure/streamfile/convertor/StreamFileConvertor.java
  mumu-services/mumu-file/file-infrastructure/src/main/java/baby/mumu/file/infrastructure/streamfile/convertor/StreamFileMapper.java
  mumu-services/mumu-file/file-infrastructure/src/main/java/baby/mumu/file/infrastructure/streamfile/gatewayimpl/StreamFileGatewayImpl.java
  mumu-services/mumu-file/file-infrastructure/src/main/java/baby/mumu/file/infrastructure/streamfile/gatewayimpl/minio/MinioStreamFileRepository.java
  mumu-services/mumu-file/file-infrastructure/src/main/java/baby/mumu/file/infrastructure/streamfile/gatewayimpl/minio/po/StreamFileMinioPO.java
  mumu-services/mumu-log/log-application/src/main/java/baby/mumu/log/application/consumer/operation/OperationLogConsumer.java
  mumu-services/mumu-log/log-application/src/main/java/baby/mumu/log/application/consumer/system/SystemLogConsumer.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/operation/convertor/OperationLogConvertor.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/operation/convertor/OperationLogMapper.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/operation/gatewayimpl/OperationLogGatewayImpl.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/operation/gatewayimpl/elasticsearch/OperationLogEsRepository.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/operation/gatewayimpl/elasticsearch/po/OperationLogEsPO.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/operation/gatewayimpl/kafka/po/OperationLogKafkaPO.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/system/convertor/SystemLogConvertor.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/system/convertor/SystemLogMapper.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/system/gatewayimpl/SystemLogGatewayImpl.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/system/gatewayimpl/elasticsearch/SystemLogEsRepository.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/system/gatewayimpl/elasticsearch/po/SystemLogEsPO.java
  mumu-services/mumu-log/log-infrastructure/src/main/java/baby/mumu/log/infrastructure/system/gatewayimpl/kafka/po/SystemLogKafkaPO.java
  mumu-services/mumu-mail/mail-infrastructure/src/main/java/baby/mumu/mail/infrastructure/template/convertor/TemplateMailConvertor.java
  mumu-services/mumu-mail/mail-infrastructure/src/main/java/baby/mumu/mail/infrastructure/template/convertor/TemplateMailMapper.java
  mumu-services/mumu-mail/mail-infrastructure/src/main/java/baby/mumu/mail/infrastructure/template/gatewayimpl/TemplateMailGatewayImpl.java
  mumu-services/mumu-mail/mail-infrastructure/src/main/java/baby/mumu/mail/infrastructure/template/gatewayimpl/thymeleaf/ThymeleafTemplateMailRepository.java
  mumu-services/mumu-mail/mail-infrastructure/src/main/java/baby/mumu/mail/infrastructure/template/gatewayimpl/thymeleaf/po/TemplateMailThymeleafPO.java
Labels: source

refactor(mumu): 优化全局配置
  .editorconfig
Labels: none

refactor(mumu): 格式化代码
  mumu-basis/src/main/java/baby/mumu/basis/enums/CacheLevelEnum.java
  mumu-basis/src/main/java/baby/mumu/basis/enums/DigitalPreferenceEnum.java
  mumu-basis/src/main/java/baby/mumu/basis/spring/ApplicationProperties.java
  mumu-basis/src/test/java/baby/mumu/basis/tools/JacksonTest.java
  mumu-basis/src/test/java/baby/mumu/basis/tools/MoneyTest.java
  mumu-extension/src/main/java/baby/mumu/extension/gson/GsonConfiguration.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/MuMuAccessDeniedHandler.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/client/Client.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/client/gateway/ClientGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/units/AccountDigitalPreferenceUnit.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/client/gatewayimpl/ClientGatewayImpl.java
  mumu-services/mumu-unique/unique-adapter/src/main/java/baby/mumu/unique/adapter/web/CountryController.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/config/SnowflakeIdGenerator.java
Labels: source

refactor(mumu): 优化update_license脚本
  update_license.sh
Labels: none

refactor(mumu): 优化配置
  build.gradle.kts
Labels: none

feat(mumu): 2.5.0版本发布
  CHANGELOG.md
  docs/CHANGELOG.zh_CN.md
  gradle.properties
Labels: documentation

feat(mumu): 开始2.6.0版本开发
  gradle.properties
Labels: none

docs(authentication): 新增注释
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

refactor(authentication): 规范类名
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/PermissionPathPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/PermissionPathPOId.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/PermissionPathRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathPOId.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/RolePathRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
Labels: source

refactor(authentication): 账户地址更换成mongodb存储
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountBasicInfoDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/AccountService.proto
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/AccountAddress.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/AccountAddressMongodbRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountAddressMongodbPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountSystemSettingsMongodbPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.7__delete_user_addresses_table.sql
Labels: source

refactor(authentication): 变量重命名
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
Labels: source

refactor(authentication): 完善接口注释
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/PermissionController.java
Labels: source

feat(authentication): 账户地址新增定位属性
  .run/MuMuAuthenticationApplication-dev.run.xml
  .run/MuMuFileApplication-dev.run.xml
  .run/MuMuLogApplication-dev.run.xml
  .run/MuMuMailApplication-dev.run.xml
  .run/MuMuMessageApplication-dev.run.xml
  .run/MuMuSmsApplication-dev.run.xml
  .run/MuMuUniqueApplication-dev.run.xml
  apis/Account.http
  mumu-basis/build.gradle.kts
  mumu-basis/src/main/java/baby/mumu/basis/mappers/BaseMapper.java
  mumu-basis/src/main/java/baby/mumu/basis/mappers/DataTransferObjectMapper.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountAddAddressCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountBasicInfoDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/AccountAddress.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountAddressMongodbPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleMapper.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/JacksonConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/PointMixin.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/broadcast/convertor/BroadcastTextMessageMapper.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/subscription/convertor/SubscriptionTextMessageMapper.java
Labels: source

refactor(apis): 修改测试数据
  apis/Account.http
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/adapter/web/AccountControllerTest.java
Labels: source

docs(address): 完善属性注释
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountAddressMongodbPO.java
Labels: source

feat(authentication): 新增设置账户默认地址和查询附近的账户接口
  .run/MuMuAuthenticationApplication-dev.run.xml
  .run/MuMuFileApplication-dev.run.xml
  .run/MuMuLogApplication-dev.run.xml
  .run/MuMuMailApplication-dev.run.xml
  .run/MuMuMessageApplication-dev.run.xml
  .run/MuMuSmsApplication-dev.run.xml
  .run/MuMuUniqueApplication-dev.run.xml
  apis/Account.http
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/AccountController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountNearbyAccountsCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountSetDefaultAddressCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AccountService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountRegisterCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountNearbyAccountsDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/AccountAddress.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/gateway/AccountGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/AccountAddressMongodbRepository.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountAddressMongodbPO.java
Labels: source

refactor(authentication): 规范类名
  apis/Account.http
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/AccountController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountNearbyCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AccountService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountNearbyDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/gateway/AccountGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

refactor(authentication): 优化附近的人查询逻辑
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/AccountAddressMongodbRepository.java
Labels: source

refactor(authentication): 添加参数校验
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/AccountController.java
Labels: source

refactor(authentication): 优化接口注释
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/AccountController.java
Labels: source

refactor(authentication): 优化注释
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountNearbyCmdExe.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AccountService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountNearbyDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/gateway/AccountGateway.java
Labels: source

feat(authentication): 新增修改账户地址接口
  apis/Account.http
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/AccountController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountModifyAddressByAddressIdCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AccountService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountModifyAddressByAddressIdCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountUpdateByIdCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllSliceDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/gateway/AccountGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

refactor(authentication): 优化修改地址逻辑
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

feat(authentication): 删除指定账户地址
  apis/Account.http
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/AccountController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountDeleteAddressByIdCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AccountService.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/gateway/AccountGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

feat(authentication): 账户缓存新增属性
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/po/AccountRedisPO.java
Labels: source

feat(authentication): 新增属性
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountBasicInfoDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllDTO.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountFindAllSliceDTO.java
Labels: source

feat(authentication): 新增转换类
  mumu-basis/build.gradle.kts
  mumu-basis/src/main/java/baby/mumu/basis/mappers/GeoMapper.java
  mumu-basis/src/main/java/baby/mumu/basis/mappers/GroGrpcMapper.java
  mumu-basis/src/main/java/baby/mumu/basis/mappers/GrpcMapper.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/AccountService.proto
  mumu-services/mumu-authentication/authentication-infrastructure/build.gradle.kts
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
Labels: source

refactor(authentication): 重构系统设置逻辑
  apis/Account.http
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/AccountController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountDeleteSystemSettingsByIdCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/account/executor/AccountSetDefaultSystemSettingsCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/AccountServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AccountService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountAddAddressCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountAddSystemSettingsCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountModifySystemSettingsBySettingsIdCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/AccountRegisterCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/gateway/AccountGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/po/AccountSystemSettingsMongodbPO.java
Labels: source

docs(authentication): 完善接口注释
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

refactor(mumu): 删除无用常量类
  mumu-basis/src/main/java/baby/mumu/basis/constants/AccountSystemSettingsDefaultValueConstants.java
Labels: source

docs(authentication): 完善属性注释
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountCurrentLoginDTO.java
Labels: source

refactor(run): 运行配置文件重命名
  .run/Start All Services.run.xml
Labels: none

refactor(mumu): 替换弃用属性
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseWrapper.java
  mumu-extension/src/main/java/baby/mumu/extension/processor/response/ResponseBodyProcessor.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/barcode/gatewayimpl/BarCodeGatewayImpl.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/qrcode/gatewayimpl/QRCodeGatewayImpl.java
Labels: source

refactor(mumu): 替换掉null值作为默认返回值
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JwtAuthenticationTokenFilter.java
Labels: source

refactor(mumu): 修改属性类型为基本数据类型
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseWrapper.java
Labels: source

test(basis): 新增guava相关单元测试
  mumu-basis/src/test/java/baby/mumu/basis/tools/GuavaTest.java
Labels: source

.github/labeler.yml:

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: [ '^feature', 'feature' ]

# Add 'bug' label to any PR where the head branch name starts with `hotfix` or has a `hotfix` section in the name
bug:
  - head-branch: [ '^hotfix', 'hotfix' ]

# Add 'dependencies' label to any change to libs.versions.toml files within the entire repository
dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/libs.versions.toml'

# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: '**/src/**/*'
