Repository conifercone/mumu, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, source

refactor(authentication): 权限角色缓存增加描述字段属性
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/redis/dataobject/PermissionRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/redis/dataobject/RoleRedisDo.java
Labels: source

refactor(authentication): 优化别名定义
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/database/PermissionPathsRepository.java
Labels: source

feat(account): 账户新增个性签名和昵称属性
  mumu-extension/src/main/java/baby/mumu/extension/sql/DatasourceConfiguration.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountRegisterCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountUpdateByIdCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountBasicInfoCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountCurrentLoginCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/dataobject/AccountArchivedDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/dataobject/AccountDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/dataobject/AccountRedisDo.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.3__add_columns_for_users_table.sql
Labels: source

refactor(mumu): 服务端口和grpc端口修改为随机可用端口
  .run/MuMuAuthenticationApplication-dev.run.xml
  .run/MuMuFileApplication-dev.run.xml
  .run/MuMuLogApplication-dev.run.xml
  .run/MuMuMailApplication-dev.run.xml
  .run/MuMuMessageApplication-dev.run.xml
  .run/MuMuSmsApplication-dev.run.xml
  .run/MuMuUniqueApplication-dev.run.xml
  mumu-services/mumu-authentication/src/main/resources/application.yml
  mumu-services/mumu-file/src/main/resources/application.yml
  mumu-services/mumu-log/src/main/resources/application.yml
  mumu-services/mumu-mail/src/main/resources/application.yml
  mumu-services/mumu-message/src/main/resources/application.yml
  mumu-services/mumu-sms/src/main/resources/application.yml
  mumu-services/mumu-unique/src/main/resources/application.yml
Labels: source

refactor(mumu): 优化配置
  .run/MuMuAuthenticationApplication-dev.run.xml
  .run/MuMuFileApplication-dev.run.xml
  .run/MuMuLogApplication-dev.run.xml
  .run/MuMuMailApplication-dev.run.xml
  .run/MuMuMessageApplication-dev.run.xml
  .run/MuMuSmsApplication-dev.run.xml
  .run/MuMuUniqueApplication-dev.run.xml
  mumu-services/mumu-authentication/src/main/resources/application.yml
  mumu-services/mumu-file/src/main/resources/application.yml
  mumu-services/mumu-log/src/main/resources/application.yml
  mumu-services/mumu-mail/src/main/resources/application.yml
  mumu-services/mumu-message/src/main/resources/application.yml
  mumu-services/mumu-sms/src/main/resources/application.yml
  mumu-services/mumu-unique/src/main/resources/application.yml
Labels: source

refactor(dependence): SpringCloud升级至2024.0.0
  gradle/libs.versions.toml
Labels: dependencies

refactor(mumu): 抽离公共方法
  mumu-basis/src/main/java/baby/mumu/basis/mappers/BaseMapper.java
  mumu-basis/src/main/java/baby/mumu/basis/mappers/ClientObjectMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleMapper.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/broadcast/convertor/BroadcastTextMessageMapper.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/subscription/convertor/SubscriptionTextMessageMapper.java
Labels: source

refactor(mumu): 简化代码
  mumu-basis/src/main/java/baby/mumu/basis/mappers/BaseMapper.java
Labels: source

refactor(mumu): 精简包名
  mumu-basis/src/main/java/baby/mumu/basis/co/BaseClientObject.java
  mumu-basis/src/main/java/baby/mumu/basis/co/ClientObject.java
  mumu-basis/src/main/java/baby/mumu/basis/co/package-info.java
  mumu-basis/src/main/java/baby/mumu/basis/mappers/ClientObjectMapper.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/CommonUtil.kt
  mumu-extension/src/main/java/baby/mumu/extension/processor/response/ResponseBodyProcessor.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionFindDirectCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionFindRootCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleFindDirectCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleFindRootCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountBasicInfoCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountCurrentLoginCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountOnlineStatisticsCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionArchivedFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionArchivedFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindByIdCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindDirectCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindRootCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleArchivedFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleArchivedFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindByIdCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindDirectCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/RoleFindRootCo.java
  mumu-services/mumu-log/log-client/src/main/java/baby/mumu/log/client/dto/co/OperationLogFindAllCo.java
  mumu-services/mumu-log/log-client/src/main/java/baby/mumu/log/client/dto/co/OperationLogQryCo.java
  mumu-services/mumu-log/log-client/src/main/java/baby/mumu/log/client/dto/co/SystemLogFindAllCo.java
  mumu-services/mumu-mail/mail-client/src/main/java/baby/mumu/mail/client/dto/co/TemplateMailSendCo.java
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/dto/co/BroadcastTextMessageFindAllYouSendCo.java
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/dto/co/SubscriptionTextMessageFindAllWithSomeOneCo.java
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/dto/co/SubscriptionTextMessageFindAllYouSendCo.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/dto/co/PrimaryKeySnowflakeCo.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/dto/co/SimpleCaptchaGeneratedCo.java
Labels: source

feat(mumu): 新增缓存等级枚举类
  mumu-basis/src/main/java/baby/mumu/basis/enums/CacheLevelEnum.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/dataobject/AccountRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/redis/dataobject/PermissionRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/redis/AccountRoleRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/relations/redis/RolePermissionRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/redis/dataobject/RoleRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/dataobject/AuthorizeCodeTokenRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/dataobject/ClientTokenRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/dataobject/OidcIdTokenRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/token/gatewayimpl/redis/dataobject/PasswordTokenRedisDo.java
  mumu-services/mumu-unique/unique-infrastructure/src/main/java/baby/mumu/unique/infrastructure/captcha/gatewayimpl/redis/dataobject/SimpleCaptchaDo.java
Labels: source

refactor(mumu): 优化依赖
  mumu-services/mumu-authentication/build.gradle.kts
  mumu-services/mumu-file/build.gradle.kts
  mumu-services/mumu-log/build.gradle.kts
  mumu-services/mumu-mail/build.gradle.kts
  mumu-services/mumu-message/build.gradle.kts
  mumu-services/mumu-sms/build.gradle.kts
  mumu-services/mumu-unique/build.gradle.kts
  mumu-services/mumu-unique/unique-infrastructure/build.gradle.kts
Labels: none

refactor(mumu): 新增自定义ObservationPredicate
  mumu-extension/src/main/java/baby/mumu/extension/ExtensionConfiguration.java
Labels: source

refactor(mumu): 新增自定义ObservationPredicate
  mumu-extension/src/main/java/baby/mumu/extension/ExtensionConfiguration.java
Labels: source

refactor(mumu): 按照ISO 639-1标准修改LanguageEnum
  mumu-basis/src/main/java/baby/mumu/basis/enums/LanguageEnum.java
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/SecurityContextUtil.kt
  mumu-extension/src/main/java/baby/mumu/extension/translation/SimpleTextTranslation.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/config/JwtAuthenticationTokenFilter.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/AccountService.proto
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
Labels: source

refactor(mumu): 国际化默认翻译修改为英文
  mumu-basis/src/main/resources/messages.properties
Labels: source

feat(mumu): 新增雪花算法ID生成器
  gradle/libs.versions.toml
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/AuthenticationGrpcService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/AccountRegisterCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/PermissionAddCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/RoleAddCmd.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/dataobject/AccountAddressDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/dataobject/AccountDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/mongodb/dataobject/AccountSystemSettingsMongodbDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/dataobject/PermissionDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/convertor/RoleConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/dataobject/RoleDo.java
  mumu-services/mumu-file/file-client/src/main/java/baby/mumu/file/client/api/FileGrpcService.java
  mumu-services/mumu-log/log-client/src/main/java/baby/mumu/log/client/api/LogGrpcService.java
  mumu-services/mumu-mail/mail-client/src/main/java/baby/mumu/mail/client/api/MailGrpcService.java
  mumu-services/mumu-message/message-client/src/main/java/baby/mumu/message/client/dto/BroadcastTextMessageForwardCmd.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/broadcast/convertor/BroadcastTextMessageConvertor.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/broadcast/gatewayimpl/database/dataobject/BroadcastTextMessageDo.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/subscription/convertor/SubscriptionTextMessageConvertor.java
  mumu-services/mumu-message/message-infrastructure/src/main/java/baby/mumu/message/infrastructure/subscription/gatewayimpl/database/dataobject/SubscriptionTextMessageDo.java
  mumu-services/mumu-unique/unique-client/build.gradle.kts
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/api/UniqueGrpcService.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/config/SnowflakeIdGenerator.java
  mumu-services/mumu-unique/unique-client/src/main/java/baby/mumu/unique/client/config/SnowflakeIdentifierGenerator.java
Labels: dependencies, source

test(test): 优化单元测试用例
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/adapter/web/AccountControllerTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/adapter/web/PermissionControllerTest.java
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/adapter/web/RoleControllerTest.java
Labels: source

feat(authentication): 新增根据code删除权限接口
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/PermissionController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionDeleteByCodeCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/PermissionServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/PermissionService.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/gateway/PermissionGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionRepository.java
Labels: source

feat(basis): 新增文件下载工具类
  gradle/libs.versions.toml
  mumu-basis/build.gradle.kts
  mumu-basis/src/main/java/baby/mumu/basis/response/ResponseCode.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/FileDownloadUtil.kt
  mumu-basis/src/main/resources/messages.properties
  mumu-basis/src/main/resources/messages_en.properties
  mumu-basis/src/main/resources/messages_ja.properties
  mumu-basis/src/main/resources/messages_ko.properties
  mumu-basis/src/main/resources/messages_ru.properties
  mumu-basis/src/main/resources/messages_zh.properties
  mumu-basis/src/main/resources/messages_zh_TW.properties
Labels: dependencies, source

refactor(file): 优化文件服务下载接口
  mumu-services/mumu-file/file-adapter/src/main/java/baby/mumu/file/adapter/web/StreamFileController.java
Labels: source

refactor(file): 优化文件服务上传接口
  mumu-services/mumu-file/file-adapter/src/main/java/baby/mumu/file/adapter/web/StreamFileController.java
Labels: source

feat(authentication): 新增下载所有权限内容接口
  mumu-basis/src/main/java/baby/mumu/basis/co/BaseClientObject.java
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/FileDownloadUtil.kt
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/PermissionController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionDownloadAllCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/PermissionServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/build.gradle.kts
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/PermissionService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionDownloadAllCo.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/gateway/PermissionGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/database/PermissionRepository.java
Labels: source

feat(authentication): 修改方法名
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/PermissionController.java
Labels: source

feat(authentication): 优化权限下载接口
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/FileDownloadUtil.kt
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionDownloadAllCmdExe.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/gateway/PermissionGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
Labels: source

feat(authentication): 新增根据code查询权限接口
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/PermissionController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/permission/executor/PermissionFindByCodeCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/PermissionServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/PermissionService.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/PermissionFindByCodeCo.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/permission/gateway/PermissionGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/convertor/PermissionMapper.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/permission/gatewayimpl/PermissionGatewayImpl.java
Labels: source

refactor(authentication): 优化grpc接口
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/RoleServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/RoleGrpcService.java
  mumu-services/mumu-authentication/authentication-client/src/main/proto/PermissionService.proto
  mumu-services/mumu-authentication/authentication-client/src/main/proto/RoleService.proto
  mumu-services/mumu-authentication/src/test/java/baby/mumu/authentication/client/grpc/RoleGrpcServiceTest.java
Labels: source

feat(authentication): 新增根据code删除角色接口
  mumu-services/mumu-authentication/authentication-adapter/src/main/java/baby/mumu/authentication/adapter/web/RoleController.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/role/executor/RoleDeleteByCodeCmdExe.java
  mumu-services/mumu-authentication/authentication-application/src/main/java/baby/mumu/authentication/application/service/RoleServiceImpl.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/api/RoleService.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/role/gateway/RoleGateway.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/RoleGatewayImpl.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/role/gatewayimpl/database/RoleRepository.java
Labels: source

feat(authentication): 新增账户余额字段
  build.gradle.kts
  gradle/libs.versions.toml
  mumu-extension/src/main/java/baby/mumu/extension/ExtensionConfiguration.java
  mumu-extension/src/main/java/baby/mumu/extension/gson/GsonConfiguration.java
  mumu-extension/src/main/java/baby/mumu/extension/gson/MoneyDeserializer.java
  mumu-extension/src/main/java/baby/mumu/extension/gson/MoneySerializer.java
  mumu-extension/src/main/java/baby/mumu/extension/gson/MuMuGsonBuilderCustomizer.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountBasicInfoCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountCurrentLoginCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllCo.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountFindAllSliceCo.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/dataobject/AccountArchivedDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/database/dataobject/AccountDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/dataobject/AccountRedisDo.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/BigDecimalMixin.java
  mumu-services/mumu-authentication/src/main/resources/db/migration/postgresql/V1.3.4__add_columns_for_users_table.sql
Labels: dependencies, source

refactor(log): 增加序列化ID属性
  mumu-services/mumu-log/src/main/java/baby/mumu/log/configuration/StringSanitizerModule.java
Labels: source

feat(basis): 新增时区校验通用方法
  mumu-basis/src/main/kotlin/baby/mumu/basis/kotlin/tools/CommonUtil.kt
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/AccountGatewayImpl.java
Labels: source

test(basis): 新增金额单元测试
  mumu-basis/src/test/java/baby/mumu/basis/tools/MoneyTest.java
Labels: source

refactor(extension): 更改Money Gson序列化和反序列化方式
  mumu-extension/src/main/java/baby/mumu/extension/gson/MoneyDeserializer.java
  mumu-extension/src/main/java/baby/mumu/extension/gson/MoneySerializer.java
Labels: source

refactor(authentication): 金额以字符串序列化防止失去精度
  mumu-basis/src/test/java/baby/mumu/basis/tools/JacksonTest.java
Labels: source

feat(authentication): 集成规则引擎
  gradle/libs.versions.toml
  mumu-services/mumu-authentication/authentication-infrastructure/build.gradle.kts
Labels: dependencies

feat(authentication): 账户领域模型新增数字偏好属性
  build.gradle.kts
  gradle/libs.versions.toml
  mumu-basis/src/main/java/baby/mumu/basis/enums/DigitalPreferenceEnum.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/dto/co/AccountCurrentLoginCo.java
  mumu-services/mumu-authentication/authentication-domain/src/main/java/baby/mumu/authentication/domain/account/Account.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/convertor/AccountConvertor.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/gatewayimpl/redis/dataobject/AccountRedisDo.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/java/baby/mumu/authentication/infrastructure/account/units/AccountDigitalPreferenceUnit.java
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/resources/baby/mumu/authentication/infrastructure/account/units/AccountDigitalPreferenceRules.drl
Labels: dependencies, source

style(drl): 保持格式一致
  mumu-services/mumu-authentication/authentication-infrastructure/src/main/resources/baby/mumu/authentication/infrastructure/account/units/AccountDigitalPreferenceRules.drl
Labels: source

refactor(mumu): 长整型序列化成字符串防止丢失精度
  mumu-extension/src/main/java/baby/mumu/extension/gson/MuMuGsonBuilderCustomizer.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/AuthorizationConfiguration.java
  mumu-services/mumu-authentication/src/main/java/baby/mumu/authentication/configuration/JacksonConfiguration.java
  mumu-services/mumu-log/src/main/java/baby/mumu/log/configuration/JacksonConfiguration.java
  mumu-services/mumu-unique/src/main/java/baby/mumu/unique/configuration/JacksonConfiguration.java
Labels: source

refactor(mumu): 优化版本号定义
  build.gradle.kts
Labels: none

refactor(mumu): 优化继承关系
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/PermissionFindDirectCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/PermissionFindRootCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/RoleFindDirectCmd.java
  mumu-services/mumu-authentication/authentication-client/src/main/java/baby/mumu/authentication/client/cmds/RoleFindRootCmd.java
Labels: source

docs(CHANGELOG): 优化CHANGELOG
  CHANGELOG.md
  docs/CHANGELOG.zh_CN.md
Labels: documentation

.github/labeler.yml:

# Add 'documentation' label to any change to .md files within the entire repository
documentation:
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

# Add 'enhancement' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
enhancement:
  - head-branch: [ '^feature', 'feature' ]

# Add 'bug' label to any PR where the head branch name starts with `hotfix` or has a `hotfix` section in the name
bug:
  - head-branch: [ '^hotfix', 'hotfix' ]

# Add 'dependencies' label to any change to libs.versions.toml files within the entire repository
dependencies:
  - changed-files:
      - any-glob-to-any-file: '**/libs.versions.toml'

# Add 'source' label to any change to src files within the source dir
source:
  - changed-files:
      - any-glob-to-any-file: '**/src/**/*'
